*.pyc
*.pem
*.orig
*~
*.swp
env
.env
.tox/
*.egg-info
!*.keep
docs/_build
*_flymake.py
pytestdebug.log
tests/results.xml
htmlcov/
.coverage
.idea/*
.vscode/*
*.code-workspace

trash/**
notebooks/**

/logs/
/src/

# Rope project settings
.ropeproject
